.search-restaurant-form {
    width: 100%;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
}
  
.search-restaurant-full-width {
    width: 100%;
    text-align: center;
    margin: auto;
}

.go-search {
    width: 100%;
    min-width: 250px;
    max-width: 800px;
    background: #fffecd;
}